<div class="banner-container">
    <img class="banner" src="assets/images/banner.jpg" alt="img-banner">
    <div class="banner-text">
        <h1>Bonjour à tous ! Je m'appelle Tom ! <img class="sticker" src="assets/images/sticker.png" ></h1> 
        <p>Je suis développeur FullStack.
            Je construis des sites web utiles et étonnants avec différentes technologies comme Angular, Laravel, etc... J'ai quand même une préférence pour le backend.
        </p>
        <a type="button" class="button-2" href="/about">Me découvrir !</a>
    </div>
</div>
