<div class="about-container">
    <div class="about-img-container">
        <img class="about-img" src="assets/images/netflix.jpg" alt="img-banner">
        <div class="overlay"></div>
    </div>
    <div class="about-text">
        <h1>En savoir plus sur moi</h1> 
        <p>Développeur Fullstack
            J'aime travailler avec différents langages et jouer avec les APIs.</p>
        <div class="box-btn">
            <input type="text" placeholder="tom.tournier@hotmail.com">
            <a type="button" class="button" href="/about">Contactez-moi !</a>
        </div>
        <span class="subtitle">Prêt à parler avec moi ? Cliquez sur le bouton rouge et envoyez-moi un email.</span>
    </div>
</div>

<section class="faq">
    <h1 class="title-faq">Questions fréquemment posées</h1>
    <div ngbAccordion class="custom-accordion">
        <div ngbAccordionItem class="item">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Qui suis-je ?</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>Salut 👋🏻 ! Je m'appelle Tom et je suis développeur FullStack. Je travaille à bourg en bresse, où je crée des produits utiles avec Angular & Laravel</ng-template>
            </div>
          </div>
        </div>
        <div ngbAccordionItem class="item">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Pourquoi suis-je développeur web ?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>J'ai plongé dans le monde de la création de site via cms en auto entreprise, suite à ça j'ai décidé d'entamer une reconversion dans le développement web pour acroitre mes connaissances.</ng-template>
              </div>
            </div>
        </div>
        <div ngbAccordionItem class="item">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Quelles sont mes technos préférées ?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>J'aime travailler avec tout types de langages, malgré cela j'ai une préférence pour le backend ainsi que l'architecture.</ng-template>
              </div>
            </div>
        </div>
        <div ngbAccordionItem class="item">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Quel est le métier de mes rêves ?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>C'est simple, le métier de mes rêves est celui que je fais, dans une entreprise ou j'ai un bon équilibre vie-travail et ou je me sens bien.</ng-template>
              </div>
            </div>
        </div>
    </div>
</section>

<section class="footer"></section>
